name: Keep Render Awake

on:
  schedule:
    - cron: "*/10 * * * *"

jobs:
  ping:
    runs-on: ubuntu-latest

    steps:
      - name: Ping Render Service
        run: |
          curl https://agentic-honeypot-api.onrender.com/docs
